body {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  background-color: #fefefe;
  height: 1000px;
  margin: 0;
  overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #555;
}

.line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}

#map_container {
  width: 100%;
  height: 100%;
  position: absolute;
}


/* D3 stuff */
.state {fill: #ddd;}
.state.MN { fill: #ddc; }
.state.MO { fill: #cdd; }
.state.MI { fill: #cdc; }
.state.MS { fill: #dcd; }

.state-boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: red;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}